@CHARSET "UTF-8";
/**
 * \file
 * Style sheet for the OWL Testkit
 * \author Oscar van Eijk, Oveas Functionality Provider
 * \version $Id: testkit.css,v 1.1 2011-05-25 12:04:30 oscar Exp $
 */

/*
 * Default body layout
 */
BODY {
	font-family : Helvetica, sans-serif, fantasy;
	color : Black;
	font-size : 8pt;
	scrollbar-face-color: #c7e2c0;
	scrollbar-highlight-color: #ffff99;
	scrollbar-shadow-color: Green;
	scrollbar-arrow-color:  Green;
	scrollbar-track-color: #e2f7de;
}


/*
 * Workarea, outer level
 */
.workspace {
	border-color: #659764;
	border: 1px;
}

/*
 * Generally used items and font-styles
 */
HR {
	color : #508648;
}
I, EM {
	background-color : #ffff99;
	font-style : italic;
}
B, STRONG {
	background-color : #fdf4d7;
	font-family : Arial, sans-serif;
	font-weight : bold;
}
TT, CODE, PRE {
	font-family: courier, fixed, monospace;
}
PRE {
	color : #666666;
}

/*
 * Lists
 */
DT {
	background-color : #ffff99;
}
DD {
	background-color : #fdf4d7;
}

/*
 * Tables
 */
TABLE {
	padding-left : 0px;
	padding-right : 0px;
	padding-top : 0px;
	padding-bottom : 0px;
	border: 0px;
}
TH {
	background-color : #c7e2c0;
	font-family : Arial, sans-serif;
	font-size : 11pt;
}
TD.emphased {
	background-color : #c7e2c0;
	font-family : Helvetica, sans-serif, fantasy;
	font-size : 10pt;
}

/*
 * Headers
 */
H1, H2 {
	color : #003300;
	font-size : 14pt;
}
H3, H4 {
	color : #003300;
	font-size : 12pt;
}
H1, H3 {
	background-color : #c7e2c0;
	font-family : Arial, sans-serif;
	font-weight : bold;
}
H2, H4 {
	font-family : Helvetica, sans-serif, fantasy;
	font-style : italic;
	background-color : #e2f7de;
}

/*
 * Forms
 */
INPUT, TEXTAREA, SELECT {
	color : Black;
	background-color : #e2f7de;
	font-size : 10pt;
	font-family : Helvetica, sans-serif, fantasy;
	border-color : #c7e2c0;
}


/*
 * Links
 */
A.icons, A.icons:link, A.icons:hover, A.icons:active, A.icons:visited:hover, A.icons:visited {
	background-color : transparent;
}
A:link, A:hover, A:active, A:visited:hover, A:visited {
	font-family : Helvetica, sans-serif, fantasy;
}
A:link, A:hover {
	color : Black;
}
A:visited, A:visited:hover {
	color : #4e8746;
}
A:link, A:visited {
	background-color : #fdf4d7;
	text-decoration : none;
}
A:hover, A:visited:hover {
	background-color : #c7e2c0;
	text-decoration : underline;
}
A:active {
	background-color : #e2f7de;
	text-decoration : none;
	color : #00ff00;
}

/*
 * Images and Image-Hotspots
 */
IMG {
	background : none;
	font-family : Helvetica, sans-serif, fantasy;
}