@CHARSET "UTF-8";
/**
 * \file
 * Style sheet for the OWL Testkit
 * \author Oscar van Eijk, Oveas Functionality Provider
 * \version $Id: testkit.css,v 1.2 2011-05-26 12:26:30 oscar Exp $
 */
/*
Naam				HTML		R		G		B
Oveas Donkergroen	275324		39		83		36
Oveas Groen			43903f		67		144		63
Oveas Lichtgroen	5fcb59		222		243		221
Oveas Pastelgroen	def3dd		222		243		221
Oveas Grijsgroen	86a985		134		169		133
Oveas Rood			be533f		190		83		63
Oveas Geel			d7df77		215		223		119
*/
body {
	background-color : #def3dd;
}

.headerContainer, .testArea {
	background-color : #def3dd;
	font-family : Helvetica, sans-serif, fantasy;
	font-size : 10pt;
	color : #275324;
}
a {
	font-style : italic;
}
a:link, a:visited, a:active {
	background-color : #86a985;
	text-decoration : none;
}
a:hover, a:visited:hover {
	text-decoration : underline;
	background-color : #def3dd;
}

h3.testArea {
	font-family : Arial, sans-serif;
	font-size : 14pt;
	font-weight : bold;
}
h3.testArea {
	font-family : Arial, sans-serif;
	font-size : 12pt;
	font-style : italic;
}

.resultFail {
	font-weight : bold;
	background-color : #be533f;
}
.resultSuccess {
	color : #43903f;
}
.resultWarning {
	background-color : #d7df77;
}
.resultSkipped {
	color : #86a985;
	font-style : italic;
}
.resultDetails {
	color : #275324;
	font-size : 10pt;
}
